<div class="container">

    <div class="col-sm-4">
      <h2> {{breweries.name}} </h2>
      <img ng-src="images/sampler1.png" width="100%">
    </div>
    
    <div class="col-sm-8">
    <h3>Details</h3>
        <p><b>Email:</b> {{breweries.email}}</p>
        <p><b>Website URL:</b> <a target="x" href="{{breweries.weburl}}"> {{breweries.weburl}} </a> </p>
        <p><b>Contact Number:</b> {{breweries.tel}}</p>
        <p><b>Address:</b> {{breweries.address}}</p>
        <p><b>Category:</b> {{breweries.category}}</p>
        <p><b>Region:</b> {{breweries.region}}</p>
        <p><b>Listing Option:</b> {{breweries.email}}</p>
        <hr>
        <p class="description"><b>Description:</b> {{breweries.description}}</p>
    </div>


</div>